*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
.top-nav{
	height: 35px;
	background-color: #f5f5f5;
}
.top-nav .main-nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;

}
.top-nav .main-nav .main-lf-nav .main-lf{
	padding: 0 6px;
	list-style: none;
	float: left;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div{
	position: relative;
	height: 35px;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div-span1{
	height: 35px;
	line-height: 35px;
	margin-right: 7px;
	float: left;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div .main-lf-div-span2{
	    display: block;
	    float: left;
	    width: 12px;
	    height: 6px;
	    line-height: 6px;
	    overflow: hidden;
	    margin-top: 16px;
		color: #9c9c9c;	
		font-size: bolder;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div .main-lf-div-span2 .main-lf-div-span2-span{
	display: block;
	margin-top: -3px;
	margin-right: 20px;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div2 a{
	position: relative;
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	margin-right: 7px;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div2 .main-lf-div2-a1{
	color: #f40;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div2 .main-lf-div2-a2{
	color: #6c6c6c;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div2 .main-lf-div2-a2:hover{
	color: #FF4400;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div3 .main-lf-div3-a{
	display: block;
	height: 35px;
	line-height: 35px;
	color: #6c6c6c;
	margin-right: 7px;
}
.top-nav .main-nav .main-lf-nav .main-lf .main-lf-div3 .main-lf-div3-a span:hover{
	color: #FF4400;
}
.top-nav .main-nav .main-rg-nav{
	position: relative;
	height: 35px;
}
.top-nav .main-nav .main-rg-nav li{
	float: right;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 .iconRectangleCopy2{
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #FF4400;
	margin-right: 5px;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 a{
	margin-right: 5px;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 .main-rg-nav-div1-span2{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 .main-rg-nav-div1-span2 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 a span{
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div1 a span:hover{
	color: #FF4400;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div2{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div2 .main-rg-nav-div2-span1{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div2 .main-rg-nav-div2-span1 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div2 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 6px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div2 a span:hover{
	color: #FF4400;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div3{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div3 .main-rg-nav-div3-span1{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div3 .main-rg-nav-div3-span1 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div3 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 6px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div3 a span:hover{
	color: #FF4400;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div4{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div4 .main-rg-nav-div4-span1{
	display: block;
	float: right;
	width: 12px;
	height: 35px;
	line-height: 35px;
	color: #6C6C6C;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div3{
	margin-right: 14px;
}



.top-nav .main-nav .main-rg-nav .main-rg-nav-div5 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 16px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div5 a span:hover{
	color: #FF4400;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div6{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div6 .main-rg-nav-div6-span1{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div6 .main-rg-nav-div6-span1 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div6 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 6px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div6 a span:hover{
	color: #FF4400;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div6 .main-rg-nav-div6-span2  .iconicon-test2{
	color: #9c9c9c;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	margin-right: 7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div7{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div7 .main-rg-nav-div7-span1{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div7 .main-rg-nav-div7-span1 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div7 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 6px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div7 a span:hover{
	color: #FF4400;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div7 .main-rg-nav-div7-span2  .iconicon-test{
	color: #FF4400;
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	margin-right: 7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div8{
	margin-right: 14px;
}


.top-nav .main-nav .main-rg-nav .main-rg-nav-div8 .main-rg-nav-div8-span1{
	display: block;
	float: right;
	width: 12px;
	height: 6px;
	margin-top: 16px;
	overflow: hidden;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div8 .main-rg-nav-div8-span1 span{
	display: block;
	margin-top: -9.7px;
}

.top-nav .main-nav .main-rg-nav .main-rg-nav-div8 a span{
	display: block;
	float: right;
	height: 35px;
	line-height: 35px;
	margin-right: 6px;
	color: #6c6c6c;
}
.top-nav .main-nav .main-rg-nav .main-rg-nav-div8 a span:hover{
	color: #FF4400;
}
.top-nav::after{
	content: "";
	display: block;
	clear: both;
}
.search{
	width: 1190px;
	height: 121px;
	margin: 0 auto;
}

.search .search-wrapper{
	width: 1190px;
	height: 97px;
	padding-top: 24px;
}
.search .search-wrapper .search-wrapper-box{
	width: 1190px;
	height: 88px;
	margin: 0 auto;
}


